# Visual Studio cache/options directory
.vs/

# JetBrains cache/options directory
.idea/

# User-specific files
PromiseModelOnline.Api/*.user
PromiseModelOnline.Auth/*.user
PromiseModelOnline.Client/*.user
PromiseModelOnline.Api.Tests/*.user
PromiseModelOnline.Client.Tests/*.user
query

# Build outputs and intermediate objects
**/bin/
**/obj/

# macOS exclusion files.
*.DS_Store

# SSL certificates (if any)
PromiseModelOnline.Api/*.pem
PromiseModelOnline.Client/*.pem
PromiseModelOnline.Auth/*.pem