# Visual Studio cache/options directory
.vs/

# JetBrains cache/options directory
.idea/

# User-specific files
PromiseModelOnline.Api/*.user
PromiseModelOnline.Auth/*.user
PromiseModelOnline.Client/*.user
PromiseModelOnline.Api.Tests/*.user
PromiseModelOnline.Client.Tests/*.user

# Build outputs and intermediate objects
**/bin/
**/obj/
# Generated with debug and execute
PromiseModelOnline.Api/bin
PromiseModelOnline.Api/obj

PromiseModelOnline.Auth/bin
PromiseModelOnline.Auth/obj

PromiseModelOnline.Client/bin
PromiseModelOnline.Client/obj

/PromiseModelOnline
/bin
/obj
PromiseModelOnline.Api/cert.pem
PromiseModelOnline.Api/key.pem
PromiseModelOnline.Client/cert.pem
PromiseModelOnline.Client/key.pem
PromiseModelOnline.Auth/cert.pem
PromiseModelOnline.Auth/key.pem
