# Visual Studio cache/options directory
.vs/

# JetBrains cache/options directory
.idea/

# User-specific files
*.user
query

# Build outputs and intermediate objects
**/bin/
**/obj/

# macOS exclusion files.
*.DS_Store

# SSL certificates (if any)
*.pem

# Rider / JetBrains cache files and solution user settings
**/*.lscache
**/*.sln.DotSettings.user

# Project/user files
**/*.csproj.lscache