<li class="main-menu-item">
    <a class="main-menu-link" id="projects-link" href="/projects">Projects</a>
</li>
<li class="main-menu-item">
    <a class="main-menu-link" id="change-password-link" href="/change-password">Change Password</a>
</li>
<li class="main-menu-item">
    <a class="main-menu-link" id="notifications-link" href="/notifications">
        Notifications <span id="notification-badge" class="badge">0</span>
    </a>
</li>
<li class="main-menu-item">
    <a class="main-menu-link" id="logout-link" href="/logout">Logout</a>
</li>
<li class="main-menu-item">
    <a class="main-menu-link" id="my-tasks-link" href="/moments/my-tasks">My Tasks</a>
</li>
<li class="main-menu-item">
    <a class="main-menu-link" id="invitations-link" href="/invitations">Invitations</a>
</li>