<h1 id="form-title">Change Password</h1>
<div class="form-div">
    <form id="change-password-form">
        <label id="current-password-label" for="current-password-input">Current Password:</label>
        <input id="current-password-input" type="password" name="current-password" required>

        <label id="new-password-label" for="new-password-input">New Password:</label>
        <input id="new-password-input" type="password" name="new-password" required>

        <label id="confirm-password-label" for="confirm-password-input">Confirm New Password:</label>
        <input id="confirm-password-input" type="password" name="confirm-password" required>

        <input id="change-password-btn" name="change-password-btn" type="button" value="Change Password">
    </form>
    <p id="error-text"></p>
    <p id="success-text"></p>
</div>
