<div class="container-fluid">
    <div class="row">
        <nav id="navbar-kb" class="col-md-3 col-lg-2 d-md-block bg-light sticky-top shadow-sm pt-4 vh-100 overflow-auto">
            <div class="position-sticky px-3">
                <h5 class="mb-4 text-primary fw-bold px-2">Promise Stack KB</h5>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a class="nav-link" href="#overview">Overview</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section1">1. Promise 0 (Universal)</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section2">2. Product Promises</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section3">3. Epics</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section4">4. Journeys</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section5">5. Flows</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section6">6. Moments</a></li>
                    <li class="nav-item"><a class="nav-link" href="#section7">7. Promise Discovery</a></li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 p-4 p-md-5 vh-100 overflow-auto bg-light" data-bs-spy="scroll" data-bs-target="#navbar-kb" data-bs-smooth-scroll="true" tabindex="0">
            <div id="kb-content"></div>
            <div class="py-5 my-5"></div>
            <div class="py-5 my-5"></div>
        </main>
    </div>
</div>